*.jar
*~
/.lein-deps-sum
/.lein-failures
/.lein-plugins
/checkouts
/classes
/lib
/native
/pom.xml
*.iml
/.idea
/target/stale/extract-native.dependencies
.nrepl-port
/target
/.lein-repl-history
/jar
.*.swp
